<div class="centered">
    <mat-form-field [style.fontSize.px]=40>
        <input matInput placeholder="Name" [(ngModel)]="usernameField">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="usernameSubmit()">Submit</button>
</div>