mat-form-field {
    width: 50%;
    text-align: center;
    color: white;
  }

button{
    width: 5em;
    font-size: 1.5em;
}

.centered {
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}