<mat-toolbar color="primary">
  <span>Service Frontend</span>
  <span class="spacer"></span>
  <div *ngIf="username" class="pad-right">Welcome,</div>
  <div [ngStyle]="{'visibility': username ? '' : 'hidden'}" contentEditable="true" id="username" (input)="checkUsername($event.target.innerText)"
    spellcheck="false">{{username}}</div>
</mat-toolbar>
