<div class="chart-container">
  <!-- <canvas id="dataChart" (click)="modifyData($event)"></canvas> -->
  <highcharts-chart id="chart" style="width: 100%; height: 100%; display: block;" [Highcharts]="Highcharts"
    [options]="chartOptions" [(update)]="updateFlag"></highcharts-chart>
  <div class="centered">
    <mat-form-field appearance="fill">
      <mat-label style='color: white'>Date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="dateSelect($event)" [value]="chosenDate">
      <mat-datepicker-toggle style="color:white" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label style='color: white'>Author</mat-label>
      <input matInput id="authorField" [value]="author"  (keyup)="authorChanged($event.target.value)">
    </mat-form-field>
  </div>
</div>
