.chart-container,
#dataChart {
  height: 85%;
  width: 95%;
  padding: 1em;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

mat-form-field {
  width: 50%;
  text-align: center;
  color: white;
}

mat-form-field > *{
    padding: 100px;
}

.mat-input-element::placeholder{
    color: white;
 }

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

